@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model SalaryPortal.Models.EmployeeViewModel

@{
    ViewData["Title"] = "Add Salary";
}


    <div class="container">
        <h1>Add Salary</h1>
        <form action="/Salary/Add" method="post">
            @Html.AntiForgeryToken()

            <!-- Salary ID -->
            @* <div class="mt3 row">
                <label class="form-label col-sm-3">Salary ID</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" asp-for="Salary_Id" />
                </div>
            </div> *@

            <!-- Gross Salary -->
            <div class="mt3 row">
                <label class="form-label col-sm-3">Gross Salary</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" asp-for="Gross_Salary" />
                </div>
            </div>

            <!-- Medical Allowance -->
            <div class="mt3 row">
                <label class="form-label col-sm-3">Medical Allowance</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" asp-for="Medical_Allowance" />
                </div>
            </div>

            <!-- Basic Salary -->
            <div class="mt3 row">
                <label class="form-label col-sm-3">Basic Salary</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" asp-for="Basic_Salary" />
                </div>
            </div>

            <!-- HRA -->
            <div class="mt3 row">
                <label class="form-label col-sm-3">HRA</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" asp-for="HRA" />
                </div>
            </div>

            <!-- Employee ID -->
            <div class="mt3 row">
                <label class="form-label col-sm-3">Employee ID</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" asp-for="Employee_Id" />
                </div>
            </div>

            <!-- Submit Button -->
            <div class="form-group mt-3">
                @* <button type="button" class="btn btn-primary" onclick="window.history.back()">Back</button> *@
                <button type="submit" value="Save" class="btn btn-secondary mr-2">Save</button>
                 <a asp-action="List" class="btn btn-primary">Back</a>
            </div>
        </form>
    </div>

    